:root {
    --color-dark: #222222;
    --color-black: #161616;
    --color-light: #FFFFFF;
    --color-light-red: #E31C25;
    --color-dark-red: #BB000E;
    --color-dark-gray: #2C2C2C;
    --color-half-tp: rgba(0, 0, 0, 0.5);
    --color-full-tp: rgba(0, 0, 0, 0);

    --bg-dark: var(--color-dark);
    --bg-light: var(--color-light);

    --text-dark: var(--color-dark);
    --text-light: var(--color-light);
}

body {
    background-color: var(--color-dark);
    font-family: Roboto;
}