@import '../../App.css';

.light-red {
    background-color: var(--color-light-red) !important;
}

.dark-red {
    background-color: var(--color-dark-red) !important;
}

form > auth-buttons {
    display: flex;
    flex-direction: row;
}

form Button {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%
}
