@import '../../App.css';

/* -- BUTTONS -- */
button {
    background-color: var(--color-dark-red);
    color: var(--color-light);
    font-size: 15px;
    border: none;
    margin:5px;
    padding: 8px 16px;
    transition: background-color 0.5s ease;
}

/* button:hover {
    background-color: var(--color-light-red);
} */

/* -- INPUTS -- */
.input-container {
    margin:10px;
    display: flex;
    flex-direction:column;
}

input {
    background-color: var(--color-dark-gray);
    border:none;
    border-bottom: 1px solid var(--color-light-red);
}

.input-error > input {
    border: 1px solid var(--color-light-red) !important;
}
.input-error > label {
    color: var(--color-light-red);
}

label {
    color: var(--color-light);
}

.icon-label {
    display: flex;
    flex-direction: row;
}

svg {
    color: white;
    margin-right: 5px;
    width: 16px;
}

/* -- SEARCH BARS -- */
.search-container {
    margin:10px;
}

.search-container > input {
    color: rgba(255, 255, 255, 60);
    border-radius: 0.5rem;
    border: none;
    min-width: 50%;
}

input::placeholder {
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}


/* -- SELECT INPUTS -- */
select {
    background-color: var(--color-dark-gray);
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light-red);
}

.select-input-container {
    display: flex;
    flex-direction: column;
}

.select-input-container > select {
    width: 40%;
}

select option:hover {
    background-color: gray; /* does not work */
}

/* TAGS */

